<h2>Add a new comment</h2>
<form action="{% url "blog:post_comment" post.id %}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add comment"></p>
</form>


<div class="blog_d3 mt-4 shadow_box p-4 rounded_30">
    <h4 class="center_sm">Post Comment</h4>
    <hr class="line mb-4">
        <div class="blog_1dt2i row mt-3">
            <div class="col-md-12">
                <div class="blog_1dt2il">
                    <textarea placeholder="Message" class="form-control form_text"></textarea>
                </div>
            </div> 
        </div>
        <div class="blog_1dt2i row mt-4">
            <div class="col-md-6">
                <div class="blog_1dt2il">
                    <input class="form-control" placeholder="Name" type="text">
                </div>
            </div> 
            <div class="col-md-6">
                <div class="blog_1dt2il">
                    <input class="form-control" placeholder="Email" type="text">
                </div>
            </div>
        </div>
        <div class="blog_1dt2i row mt-4">
            <div class="col-md-6">
                <div class="blog_1dt2il">
                    <input class="form-control" placeholder="Subject" type="text">
                </div>
            </div> 
            <div class="col-md-6">
                <div class="blog_1dt2il">
                    <input class="form-control" placeholder="Website" type="text">
                </div>
            </div>
        </div>
        <div class="blog_1dt2i row mt-4">
            <div class="col-md-12">
                <div class="blog_1dt2il">
                    <h6 class="mb-0 center_sm"><a class="button" href="#">Submit Now</a></h6>
                </div>
            </div> 
        </div>
    </div>