<section id="header">
    <nav class="navbar navbar-expand-md navbar-light  p-0 bg-white px_4" id="navbar_sticky">
      <div class="container-fluid">
        <a class="text-black p-0 navbar-brand fw-bold  lh-1" href="{% url 'blog:post_list' %}"><i class="fa fa-blog text-primary col_blue"></i> PharosFleet Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav mb-0 ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
            </li>
             
            <li class="nav-item">
              <a class="nav-link" href="#">About </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link border-end-0" href="#">Contact </a>
            </li>
    
          </ul>
          <ul class="navbar-nav mb-0 ms-auto">
              <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav_hide nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-search"></i>
                    </a>
                    <ul class="dropdown-menu drop_1 drop_search p-3" aria-labelledby="navbarDropdown" style="">
                      <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control font_14" placeholder="Search Keyword">
                            <span class="input-group-btn">
                                <button class="btn btn-primary bg_blue border-0 rounded-0 p-2 px-3" type="button">
                                    <i class="fa fa-search"></i> </button>
                            </span>
                        </div>
                      </form>
                    </ul>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    </section>